.tableDropdownList {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.tableDropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;

  button {
    &:hover {
      p {
        color: var(--color-accent-100);
      }

      svg {
        color: var(--color-accent-100);
      }
    }
  }
}
