.DialogOverlay {
  position: fixed;

   z-index: 0;
  inset: 0;
  opacity: 0.5;
  background-color: var(--color-dark-900);
}

.DialogContent {
  position: fixed;

   z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // убрать размер и падинг
  // width: 100%;
  // max-width: 492px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  background-color: var(--color-dark-300);

  &:focus {
    outline: none;
  }

  @media (width <= 768px) {
    max-width: 90%;
  }
}

.DialogTitle {
  margin: 0;
}

.IconButton {
  all: unset;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 100%;

  color: var(--color-light-100);

  &:hover {
    background-color: var(--color-light-900);
    transition: 10ms ease-in-out;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-300);
  }
}

.button {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--color-dark-100);
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  // padding: 1.125rem 1.5rem;
}

.closeButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: -13px;
  right: -19px;
  transform: translate(100%, -100%);

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: 2px solid var(--color-accent-300);
  }
}

.postContent {
  position: fixed;

   z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 972px;
  height: 564px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  background-color: var(--color-dark-300);
}
