.post_img {
  object-fit: cover;
}

.expanded_image {
  height: 120px;
}

.public_post_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.public_post_name {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 12px;
  padding: 12px 0;

  svg {
    margin-left: auto;
  }
}

.public_post_data {
  color: var(--color-light-900);
}
