.card {
  width: 100%;
  max-width: 23.625rem;
  margin: 3.75rem 0;
  padding: 1.5rem 1.5rem 2.25rem;

  @media screen and (width <= 576px) {
    margin: 1rem;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.title {
  padding-bottom: 2.25rem;
  text-align: center;

  @media screen and (width <= 576px) {
    padding-bottom: 1.875rem;
    font-size: 1.125rem;
    line-height: 24px;
  }
}

.description {
  padding: 0.375rem 0 2.5rem;
  color: var(--color-light-900);

  @media screen and (width <= 576px) {
    padding-bottom: 3.25rem;
  }
}

.inputConfirmationPassword {
  padding-top: 1.5rem;
}

.button {
  @media screen and (width <= 576px) {
    padding: 0.75rem 0;
  }
}
