.modal {
  width: 100%;
  max-width: 23.625rem;

  & > div:nth-child(2) {
    padding: 1.875rem 1.5rem 2.125rem;
  }

  .buttonsContainer {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    padding-top: 1.125rem;

    @media screen and (width <= 576px) {
      flex-direction: column;

      & > button {
        width: 100%;
        padding: 0.75rem 0;
      }
    }
  }

  @media screen and (width <= 576px) {
    max-width: 20.625rem;

    & > div:nth-child(1) {
      padding: 0.75rem 1rem;
    }

    & > div:nth-child(2) {
      padding: 1.875rem 1rem 2.125rem;
    }
  }
}
