@use '../../../../../app/_styles/ui/function' as *;

.forgotPasswordModalContainer {
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}

.forgotPasswordModalBtn {
  align-self: flex-end;
  width: size(96px);
}

@media screen and (width <= 576px) {
  .forgotPasswordModalContainer {
    display: flex;
    flex-direction: column;
    row-gap: size(20px);
    align-items: center;

    text-align: center;
  }

  .forgotPasswordModalBtn {
    align-self: unset;
    width: 100%;
  }
}
