@use '../../../../app/_styles/ui/function' as *;

.forgotpassword {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: size(378px);
  margin-top: size(70px);
  padding: calc(15px + (24 - 15) * ((100vw - 360px) / (1320 - 568)));

  transition: 0.3s ease;
}

.forgot_password_title {
  margin-bottom: size(34px);
}

.forgot_password_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  input {
    margin-bottom: size(8px);
  }

  p {
    text-align: left;
  }
}

.forgot_password_text {
  margin-bottom: calc(53px + (24 - 53) * ((100vw - 360px) / (1320 - 568)));
  color: var(--color-light-900);
}

.forgot_password_controls {
  display: flex;
  flex-direction: column;
  row-gap: size(24px);
  justify-content: center;

  width: 100%;
  margin-bottom: size(24px);
}

.forgot_password_submit {
  display: flex;
  flex-direction: column;
  row-gap: size(24px);
}

.forgot_password_recaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width <= 576px) {
  .forgotpassword {
    margin-top: size-desktop(16px);
    border: 1px solid transparent;
    background-color: var(--color-dark-900);
  }

  .forgot_password_form {
    &[data-form='submited'] {
      .forgot_password_text {
        margin-bottom: size(106px);
      }
    }
  }

  .forgot_password_recaptcha {
    order: 1;
  }

  .forgot_password_submit {
    order: 2;
  }
}
