.container {
  padding: 0.5rem 0.5rem 0px;
}
.errorContainer {
  width: max-content;
  padding: 0.5rem 0.5rem 0px;
  border: 1px solid #f00;
}
.errorText {
  color: #f00;
  padding: 0.75rem 0.75rem;
}
