.no_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-light-900);
  opacity: 0.5;
  svg {
    margin: 0;
  }
}
