.custom_slider {
  width: 490px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;

  .prev_arrow,
  .next_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: color-mix(in srgb, var(--color-dark-900) 20%, transparent);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    //z-index: 1;
    transform: translateY(-45%);

    svg {
      color: white;
      width: 48px;
      height: 48px;
    }

    &::before {
      display: none;
    }

    &:hover {
      svg {
        color: var(--color-accent-100);
      }
    }
  }

  .next_arrow {
    right: 0;
  }

  .prev_arrow {
    left: 0;
    z-index: 1;
  }
}

.dots {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 60px;
  column-gap: 8px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 9px;
    height: 9px;
    transition: 0.3s ease;

    &.active {
      width: 12px;
      height: 12px;
    }

    &:last-child {
      width: 6px;
      height: 6px;
    }

    &:first-child {
      width: 6px;
      height: 6px;
    }
  }
}

.dots_item {
  background-color: var(--color-light-100);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.active {
  background-color: var(--color-accent-500);
  width: 14px;
  height: 14px;
}