.accountCostContainer {
  margin: 18px 0 42px;
  padding: 12px 18px;

  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }
}

.paymentSystemsContainer {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: end;

  .payment {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 96px;
    height: 64px;
    border-radius: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px 30px;
}

.checkboxBtnGroup {
  display: flex;
  width: 100%;
  padding: 18px 0;
}

.agreeToPayModal {
  width: 100%;
  max-width: 378px;
}
