.Content,
.SubContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  padding: 18px 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  background-color: var(--color-dark-500);
}

.dropdown_items_container {
  overflow-y: scroll;

  max-width: 417px;
  max-height: 330px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.Item,
.CheckboxItem,
.RadioItem,
.SubTrigger {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  border-radius: 3px;

  outline: none;

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-100);
  }
}

.Arrow {
  transform: rotate(-180deg) translateY(3px);
  color: var(--color-dark-100);

  path {
    fill: var(--color-dark-300);

    &:last-child {
      fill: var(--color-dark-500);
    }
  }
}

.IconButton {
  all: unset;

  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  &:hover {
    color: var(--color-accent-500);
  }

  &:focus {
    color: var(--color-accent-500);
    outline: none;
  }

  &:active {
    color: var(--color-accent-500);
  }
}
