.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 490px;
  height: 502px;
}

.slider {
  width: 100%;
  min-width: 490px;
}

.slick-dots {
  position: absolute;
}

.canvas {
  width: 100%;
}
