$text-line-height: 1.2em;
$card-width: 234px;
$card-height: 391px;

.root {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 76px 24px;

  .pageContent,
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
  }

  ul {
    flex-wrap: wrap;

    li {
      max-width: 234px;
    }
  }
}
